<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div th:each="person : ${people}">
  <a th:href="@{/people/{id}(id=${person.getId()})}"
     th:text="${person.getName()} +', ' + ${person.getDateOfBirth()}">Text</a>
</div>
<br>
<hr>
<div>
    <form th:method="GET" th:action="@{people/new}">
        <input type="submit" value="Добавить нового пользователя">
    </form>
</div>
</body>
</html>