<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>

<div th:text="${person.getName()}">Name</div>
<div th:text="${person.getBirthdate}">birthdate</div>
<hr/>

<div th:if="${books.isEmpty()}">Человек пока не взял ни одной нкиги</div>
<div th:if="${!books.isEmpty()}"> Книги на руках:
    <div th:each="book: ${books}"><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.title} + ', ' + ${book.author}">Book</a></div>
</div>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="POST" th:action="@{/people/{id}/delete(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Удалить человека!">
</form>
</body>
</html>