<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div th:text="${person.getName()}">Name</div>
<div th:text="${person.getDateOfBirth()}">birthdate</div>
<hr/>

<div th:if="${books.isEmpty()}">Человек пока не взял ни одной нкиги</div>
<div th:if="${!books.isEmpty()}">
    <span>Книги на руках:</span>

    <div th:each="book: ${books}">
        <p><a th:href="@{/books/{id}(id=${book.getId()})}" th:style="${book.isExpired()}?'color:#ce2929'"
              th:text="${book.getTitle()} + ', ' + ${book.getAuthor()}">Book</a></p>
    </div>
</div>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="POST" th:action="@{/people/{id}/delete(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Удалить человека!">
</form>
</body>
</html>