<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div th:each="book:${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYearDate()}"></a>
</div>

<br/>
<hr/>

<div>
    <form th:method="GET" th:action="@{books/new}">
        <input type="submit" value="Добавить новую книгу">
    </form>
</div>

</body>
</html>